html, body, h1, h2, h3, h4, h5, h6, p, span, ul, li, div, header, main, footer, article {
  margin: 0;
  padding: 0;
}

/* Themes */

body {
  --bg-pri: #404040;
  --bg-sec: #2C2C2C;
  --bg-tir: #1B1B1B;
  --fg-txt: #FFFFFF;
}

/* Defaults */

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--bg-sec);
  color: var(--fg-txt);
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--bg-tir);
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#start {
  width: 20em;
  height: 6em;
  background-color: var(--bg-pri);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#start:hover, .answer:hover {
  background-color: var(--bg-tir);
}

img {
  margin: 1.5em 0 0 0;
  border: 8px solid;
  border-image-source: url("assets/images/frame3.png");
  border-image-slice: 20 22;
  border-image-outset: 0.5;
  border-image-repeat: round;
  max-height: 400px;
  max-width: 400px;
}

#answers, .answer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#answers {
  flex-direction: column;
  margin: 1.5em 0 0 0;
}

.answer {
  background-color: var(--bg-pri);
  width: 250px;
  margin: 0.2em;
  padding: 0.3em 0;
  border-radius: 5px;
}

#score {
  display: none;
}

footer {
  text-align: center;
}

/* Utilities */

.padded {
  padding: 1em;
}