html, body, h1, h2, h3, h4, h5, h6, p, span, ul, li, div, header, main, footer, article {
  margin: 0;
  padding: 0;
}

/* Teme/Boje */

body {
  --bg-pri: #404040;
  --bg-sec: #2C2C2C;
  --bg-tir: #1B1B1B;
  --fg-txt: #FFFFFF;
}

/* Default */

html, body {
  height: 100%;
}

body {
  font-family: 'Inknut Antiqua', serif;
  font-size: 90%;
  color: var(--fg-txt);
  background-color: #2c2c2c;
  background-image: url('assets/images/background-pattern.svg');
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--bg-tir);
  text-align: center;
}

main, #container, #start-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex-grow: 1;
}

/* Start-container */

#start-container {
  max-width: 50%;
  text-align: center;
  padding: 1em;
  flex-direction: column;
  font-size: medium;
}

#start {
  margin: 1em 0 0 0;
  width: 15em;
  height: 5em;
  background-color: var(--bg-pri);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#start:hover, .answer:hover {
  background-color: var(--bg-tir);
  cursor: pointer;
}

/* Slika za pitanje */

img {
  margin: 1.5em 0 0 0;
  max-height: 400px;
  max-width: 400px;
}

/* Kontejner sa odgovorima */

#answers, .answer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#answers {
  flex-direction: column;
  margin: 1em 0 0 0;
}

.answer {
  background-color: var(--bg-pri);
  width: 250px;
  margin: 0.2em;
  padding: 0.1em 0;
  border-radius: 5px;
}

/* Kontejner sa rezultatom */

#score {
  display: none;
  padding: 0.2em;
}

/* Kontejner sa rezultatom */

footer {
  text-align: center;
}

/* Utilities */

.padded {
  padding: 1em;
}

.framed {
  border: 8px solid;
  border-image-source: url("assets/images/frame3.png");
  border-image-slice: 20 22;
  border-image-outset: 0.5;
  border-image-repeat: round;
}